<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>13493655129-ghn7n3621da0jsfjcmq0onre8p1qubfl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.13493655129-ghn7n3621da0jsfjcmq0onre8p1qubfl</string>
	<key>API_KEY</key>
	<string>AIzaSyD8eJP0PjVhF4m6Mzk5spH73sSLf4MWF4E</string>
	<key>GCM_SENDER_ID</key>
	<string>13493655129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterfirebaseapp</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-app-76323</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-app-76323.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13493655129:ios:88429809353fdcde220348</string>
</dict>
</plist>